#menu_burger {
    display: none; 
}

#menu_burger.open {
    display: flex; 
}
#nav{
    background-color: #385E72;
}
#nav_ico{

    background-color: #D9E4EC;
}
#ctego{
    background-color: #385e7228;
    margin-right: 20px;
}
body{
    overflow-x: hidden;
}
#proudact::-webkit-scrollbar{
    display: none;
}
